@charset "UTF-8";

body{
    font-family: "Noto Sans JP", sans-serif;
}

/* common */
.common-wrapper{
    margin:10px 15% 90px 15%;
}

.common-wrapper a{
    font-size: 16px;
}

.common-wrapper h2{
    color: #00ABAE;
    text-align: center;
    font-size: 30px;
    margin: 0px 0 50px 0;
    position: relative;
}

.common-wrapper h2::before{
    position: absolute;
    content: "";
    width: 60px;
    height: 3px;
    border-radius:5px;
    background-color:  #00ABAE;
    bottom: -20px;
    left: 50%;
    transform:translate(-50%);
}


.common-wrapper h3{
    font-size: 25px;
    margin-bottom: 30px;
    line-height: 1.5;
}

.common-wrapper p {
    line-height:1.5;
}

/* header */
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    height: 70px;
    margin: auto;
}

.header-logo{
    width: 200px;
}

.header-logo img{
    width: 100%
}

.header-nav{
    width:100%;
    text-align: right;
}

.header-nav-about{
    display: inline-block;
    padding: 0 40px;
}

.header-nav-service{
    display: inline-block;
    padding: 0 40px;
}

.header-nav-news{
    display: inline-block;
    padding: 0 40px;
}

.header-nav-contact{
    display: inline-block;
}

.header-nav-contact a{
    padding: 13px 50px;
    border-radius: 40px;
    color:white;
    background-color: #00ABAE;
}

/* mv */
.mv-content{
    position: relative;
    margin-top: 10px;
    height: 400px
}

.mv-text{
    margin-left: 270px;
    font-size: 32px;
    color: white;
    line-height: 2;
    display: float;
    position: absolute;
    top: 100px;
}

.mv-img{

}

.mv-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* about */
.about{
    padding:50px 0;
}

.about-block{
    display: flex;
    align-items: center;
}

.about-block-img{
    display:inline-block;
    width: 50%;
    object-fit: cover;
}

.about-block-img img{
    width: 100%;
}

.about-block-text{
    display:inline-block;
    padding-left:50px;
    width: 50%;
    line-height:1.5;
}

/* service */
.service{
    background-color: #EEF8FA;
    padding:50px 0;
}

.service-contents{
    display: flex;
}

.service-block{
    width: 33%;
    background-color: white;
    margin:15px;
}

.service-contents img{
    width: 100%;
}

.service-block-text{
    padding: 20px 20px 35px 20px;
}

/* news */
.news{
    padding:50px ;
}

.news-block{
    text-align: center;
}

.news-block-text{
    display: flex;
    align-items: center;
    padding: 30px;
    margin: 60px;
    text-align: left;
    border-bottom: 1px solid #DDDDDD;
}

.news-block-date{
    background-color:#EEEEEE;
    padding: 5px 10px;
    border-radius: 100px; 
    font-size: 10px;
    color: #888888;
    margin-left: 30px;
    margin-right: 80px
}

.news-block-title{

}

.news-block-btn{
    display: inline-block;
    padding: 20px ;
}
.news-block-btn a{
    display: block;
    border: 1px solid ;
    padding: 20px ;
    width: 250px;
    border-radius: 50px;
}

/* contact */
.contact{
    padding:50px ;
    background-color: #EEF8FA;
}

.contact-block{
    text-align: center;
}

.contact-btn{
    display: inline-block;
    margin-top: 40px;
}

.contact-btn a{
    display: block;
    background-color: #00ABAE;
    padding: 20px ;
    width: 250px;
    border-radius: 50px;
    color: white;
}


/* footer */
.footer{
    text-align: center;
    background-color:#303030;
    color: white;
    padding: 55px
}